{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
    <!-- bootstrap -->
    <link href="{% static 'bootstrap-3.3.4/css/bootstrap.min.css' %}" rel="stylesheet">
    
    
        <title>Yellow App | {% block title %}Home {% endblock %}</title>
    </head>
    
    <body>
        {% block page %}
        
         <div class="container"><!-- messages -->
             <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
        {% block messages %}
        {% for m in messages %}
         {{m}}
        {% endfor %}
        {% endblock messages %}
                </div>
             </div>
         </div><!--/messages container-->
         
        <div class="container"><!-- content -->
            <div class="row-fluid">
                <div class="col-md-8 col-md-offset-2">
               {% block content %}
                
               {% endblock content %}
                </div>
            </div>
        </div><!--/ content container -->
        
        
        {% endblock page %}
    </body>
</html>