{% extends 'yellow_app/base.html' %}

{% load bootstrap3 %}

{% block content %}
 
 <h3>Login</h3>
  <form action="{% url 'yellow:login' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary btn-block ">Log In</button>
  </form>
  


{% endblock %}