{% extends 'yellow_app/base.html' %}

{% load bootstrap3 %}

{% block content %}

<h3>Register</h3>

<form class="form" method="post" action="{% url 'yellow:register' %}">
    {% csrf_token %}
 {% bootstrap_form form %}
 <button type="submit" class="btn btn-primary btn-block">Save</button>
</form>

{% endblock %}