{% extends 'yellow_app/base.html' %}

{% load bootstrap3 %}

{% block content %}
 
 <h3>Password Set</h3>
  <form action="{% url 'yellow:set_password' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary btn-block ">Save</button>
  </form>
  


{% endblock %}